/Bicycle.class
/Bus.class
/Car.class
/Ferry.class
/FerryMain.class
/Lorry.class
/Passenger.class
/StandardFerry$VehicleIterator.class
/StandardFerry.class
/Vehicle$PassengerIterator.class
/Vehicle.class
